# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
venv/
.env

# Java
target/
*.log

# local secret files
frontend/.env
stt-server/.env
backend/src/main/resources/application-local.properties

# archives
*.zip
*.tar
*.gz