# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.env

# Python (stt-server)
__pycache__/
*.pyc
venv/

# Java (backend)
target/
*.log

# IDE
.idea/
.vscode/

.env
backend/src/main/resources/application-local.properties
frontend/.env
stt-server/.env